<!DOCTYPE html>
<html>
    <head>

        <!-- /.website title -->
        <title>Open Data Hack Bangalore 2017</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="opendata, hack, hackathons, hackathon, open source">
        <meta name="description" content="A collaborative effort to solve community problems using free open data">
        <meta name="author" content="Suraj Kumar Jana">

        <meta property="og:url"                content="https://opendatahack.org/blr2017" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Open Data Hack Bangalore 2017" />
        <meta property="og:image"              content="https://opendatahack.org/images/events/odh_blr.png" />
        <meta property="og:description"        content="A 24 hours hackathon to build solutions using open data." />
       

        <link rel="shortcut icon" href="images/favicon.jpg">

        <!-- CSS Files -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet" media="screen">
        <link href="css/owl.theme.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet">

        <!-- Colors -->
        <link href="css/css-app.css" rel="stylesheet" media="screen">
        <!-- <link href="css/css-app-green.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-app-purple.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-app-red.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-app-orange.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-app-yellow.css" rel="stylesheet" media="screen"> -->

        <!-- Google Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
    </head>

    <body data-spy="scroll" data-target="#navbar-scroll">

        <!-- /.preloader -->
        <div id="preloader"></div>
        <div id="top"></div>

        <!-- /.parallax full screen background image -->
        <div class="fullscreen landing parallax" style="background-image:url('images/map-bg.png');" data-img-width="2000" data-img-height="1325" data-diff="100">

            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- /.logo -->
                            <center><div class="wow fadeInDown" style="margin: 100px 0 40px 0; "> <a href=""><img src="images/logo2.png" alt="logo"></a></div>
                            <!-- /.main title -->
                            <h1 class="wow fadeInUp">
                                OPEN DATA HACK
                            </h1>
                            <h2 class="wow fadeInUp">
                                BANGALORE 2017
                            </h2>
                            
                            <!-- /.header paragraph -->
                            <div class="landing-text wow fadeInUp" style="font-weight: bold;">
                                <p>BMS Institute of Technology & Mgmt., Avalahalli, Bangalore</p>
                                <p>14th & 15th October, 2017 | 9 A.M Onwards</p>
                            </div>				  

                            <!-- /.header button -->
                            <div class="head-btn wow fadeInDown">
                                <a href="#" target="_blank" class="btn-primary">Registration closed</a>
                                <!-- <a href="#subscribe" class="btn-default">Subscribe</a> -->
                            </div>		  

                            </center>
                        </div> 

                    </div>
                </div> 
            </div> 
        </div>

        <!-- /.intro section -->
        <div id="intro">
            <div class="container">
                <div class="row">
                    <!-- /.intro image -->
                    <div class="col-md-12 wow fadeInUp text-center">
                        <h2>About Open Data Hack Bangalore 2017</h2>
                        <p>Open Data Hack(ODH) Bangalore 2017 is part of the series of hackathons in India by opendatahack.org. Theme for Open Data Hack Bangalore 2017 is climate change, solar energy and disaster warning systems.</p>
                        <p>Open Data Hack is a collaborative effort in solving day to day difficulties faced by local communities, civic bodies and non profit institutions. Technologists, designers,  innovators and government bodies with great social insights come aboard for a day together to build technology based solutions availing enormously accessible free open data.</p>
                        <p>Participants need to get their own laptops, chargers and other hardwares required for their projects during the hackathon. Individual and team (Upto 4 members) both types of participation allowed.</p>
                        <div class="head-btn wow fadeInDown">
                            <a href="#" target="_blank" class="btn-primary">Registration closed</a>
                            <!-- <a href="#subscribe" class="btn-default">Subscribe</a> -->
                        </div>  
                    </div>  

                </div>
                <div class="row">
                    <!-- /.intro image -->
                    <div class="col-md-12 wow fadeInUp text-center">
                        <h2>Partners</h2>
                    </div>	

                </div>
                <div class="row">
                    <!-- /.intro image -->
                    <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center" style="margin-top: 10px;">
                        <img src="images/partners/bmsit.png" style="width: 200px;">
                    </div>  
                    <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center" style="margin-top: 10px;">
                        <img src="images/partners/ocl.png" style="width: 200px;">
                    </div> 
                    <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center" style="margin-top: 10px;">
                        <img src="images/partners/rhok_india.png" style="width: 200px;">
                    </div> 
                    <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center" style="margin-top: 10px;">
                        <img src="images/partners/tt.png" style="width: 200px;">
                    </div> 
                    <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center" style="margin-top: 10px;">
                        <img src="images/partners/tfsc.png" style="width: 200px;">
                    </div> 
                    <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center" style="margin-top: 10px;">
                        <img src="images/partners/heymedy.png" style="width: 200px;">
                    </div> 
                    <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center" style="margin-top: 10px;">
                        <img src="images/partners/bae_chat.png" style="width: 200px;">
                    </div> 
                    <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center" style="margin-top: 10px;">
                        <img src="images/partners/hidden_pockets.png" style="width: 200px;">
                    </div> 
                    <!-- <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInUp text-center">
                        <img src="images/partners/rhok_india.png" style="width: 200px;">
                    </div>  -->

                </div>	
                <!-- <div class="row">
                    
                    <div class="col-md-12 wow fadeInUp text-center">
                        <h2>Open Data Hack Captain</h2>
                        <p>Sahil Verma | +91-8553236639</p>
                    </div>  

                </div>	 -->	  
            </div>
        </div>

        <div id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                        <!-- /.feature title -->
                        <h2>Problem statements</h2>
                        <p>1. Detecting harmful algae blooms(HABs) using NOAA satellites image data for Indian beaches and provide precautionary early measures to people going around those beaches. #opencubelabs</p>
                        <p>2. Predicting sun exposer/UV intensity around housing societies, appartments, schools and colleges. #opencubelabs</p>
                        <p>3. Monitor significant earthquakes of past and build a early warning system for coastal parts of India. #opencubelabs</p>
                        <p>4. Do a heat map of bangalore by relating all possible healthiness factors. #heymedy</p>
                        <p>5. Women rarely get to look at cities from their health perspective. Using open data how to encourage women to use abortion clinic in cities of Bihar? #hidden-pockets</p>

                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                        <!-- /.feature title -->
                        <h2>Open Data Hack Captain</h2>
                        <p>Jayasurya | +91-8197360630</p>
                        <!-- <p>Melrick | +91-7760038110</p> -->
                        <p>Sahil Verma | +91-8746046711</p>

                    </div>
                    
                </div>
                
                
            </div>
        </div>

        <!-- /.footer -->
        <footer id="footer">
            <div class="container">
                <div class="col-sm-4 col-sm-offset-4">
                    <!-- /.social links -->
                    <div class="social text-center">
                        <ul>
                            <li><a class="wow fadeInUp" href="https://twitter.com/_opendatahack"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="wow fadeInUp" href="https://www.facebook.com/opendatahack" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                            <!-- <li><a class="wow fadeInUp" href="https://plus.google.com/" data-wow-delay="0.4s"><i class="fa fa-google-plus"></i></a></li> -->
                            <li><a class="wow fadeInUp" href="https://instagram.com/" data-wow-delay="0.6s"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>  
                    <div class="text-center wow fadeInUp" style="font-size: 14px;">Made with <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i> by Open Data Hack Community</div>
                    <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
                </div>  
            </div>  
        </footer>

        <!-- /.javascript files -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/ekko-lightbox-min.js"></script>
        <script type="text/javascript">
            $( document ).delegate( '*[data-toggle="lightbox"]', 'click', function ( event ) {
                event.preventDefault();
                $( this ).ekkoLightbox();
            } );
        </script>
        <script>
            new WOW().init();
        </script>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43349874-9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', 'UA-43349874-9');
        </script>
    </body>
</html>